MarketAmerica.ErpHook.ConsoleProgram/Service References/ErpService/ErpHook1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://api.marketamerica.com/" name="ErpHook" targetNamespace="http://api.marketamerica.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://api.marketamerica.com/" elementFormDefault="unqualified" targetNamespace="http://api.marketamerica.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="setErpData" type="tns:setErpData" />
      <xs:element name="setErpDataResponse" type="tns:setErpDataResponse" />
      <xs:element name="test" type="tns:test" />
      <xs:element name="testResponse" type="tns:testResponse" />
      <xs:complexType name="setErpData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setErpDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="test">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="testResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setErpData">
    <wsdl:part name="parameters" element="ns1:setErpData" />
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="ns1:testResponse" />
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part name="parameters" element="ns1:test" />
  </wsdl:message>
  <wsdl:message name="setErpDataResponse">
    <wsdl:part name="parameters" element="ns1:setErpDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ErpHook">
    <wsdl:operation name="setErpData">
      <wsdl:input name="setErpData" message="ns1:setErpData" />
      <wsdl:output name="setErpDataResponse" message="ns1:setErpDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input name="test" message="ns1:test" />
      <wsdl:output name="testResponse" message="ns1:testResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>